<p class="hello">Hello ,<span style="font-weight: 700;"> Mehdi Chiheb</span>  !</p>
<div class="info">
    <div class="order-info">
        <p class="title">Orders</p>
        <div class="analyse">
            <div class="card">
                <div class="numbers">
                    <h5 style="font-size: 17px;">Today</h5>
                    <h5 style="margin-bottom: 7px;font-weight: 800;font-size: 35px;color: rgb(79, 67, 148);">2</h5>
                    <h5 style="font-size: 15px;color: #a8a2a2;">2 orders today</h5>
                </div>
            </div>
            <div class="card">
                <div class="numbers">
                    <h5 style="font-size: 17px;">This Week</h5>
                    <h5 style="margin-bottom: 7px;font-weight: 800;font-size: 35px;color: rgb(79, 67, 148);">25</h5>
                    <h5 style="font-size: 15px;color: #a8a2a2;">25 orders this week</h5>
                </div>
            </div>
            <div class="card">
                <div class="numbers">
                    <h5 style="font-size: 17px;">This Month</h5>
                    <h5 style="margin-bottom: 7px;font-weight: 800;font-size: 35px;color: rgb(79, 67, 148);">32</h5>
                    <h5 style="font-size: 15px;color: #a8a2a2;">32 orders this month</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="order-info">
        <p class="title">Revenue</p>
        <div class="analyse">
            <div class="card">
                <div class="numbers">
                    <h5 style="font-size: 17px;">Today</h5>
                    <h5 style="margin-bottom: 7px;font-weight: 800;font-size: 35px;color: rgb(79, 67, 148);">$8052</h5>
                    <h5 style="font-size: 15px;color: #a8a2a2;">2 orders today</h5>
                </div>
            </div>
            <div class="card">
                <div class="numbers">
                    <h5 style="font-size: 17px;">This Week</h5>
                    <h5 style="margin-bottom: 7px;font-weight: 800;font-size: 35px;color: rgb(79, 67, 148);">$25000</h5>
                    <h5 style="font-size: 15px;color: #a8a2a2;">25 orders this week</h5>
                </div>
            </div>
            <div class="card">
                <div class="numbers">
                    <h5 style="font-size: 17px;">This Month</h5>
                    <h5 style="margin-bottom: 7px;font-weight: 800;font-size: 35px;color: rgb(79, 67, 148);">$32000</h5>
                    <h5 style="font-size: 15px;color: #a8a2a2;">32 orders this month</h5>
                </div>
            </div>
        </div>
    </div>
</div>