
<div class="center" *ngFor="let categorie of category_products ; let i = index" >
    <div class="title-container">
        <h2 class="title">{{categorie.title}}</h2>
        <p>
            <a class="link" [routerLink]="['all/',categorie.title]">Show all</a>
        </p>
    </div>
        <div class="card-container">
            <ng-container *ngFor="let product of categorie.products ;  index as index;">
                <div class="product-box"  >
                    <ng-container *ngIf="index < 3">
                    <div class="white-box">
                        <button class="wishlist-button" style="    background: transparent;">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>                    
                        </button>
                        <input input type="image" [src]="product.imageUrl" [routerLink]="['product/',product.id]">
                    </div>
                    <h4 class="product-title">{{product.productTitle}}</h4>
                    <div class="product-price">
                        <h3 class="price">${{product.price}} </h3>
                        <button class="btn-style">Add to cart</button>
                    </div>
                    </ng-container>
                </div>   
                <div class="show-all" *ngIf="( (lastitem(i,index))&& categorie.products!.length <3)  || (index == 2)">
                    <a class="btn_showall" [routerLink]="['all/',categorie.title]">Show all -> </a>
                </div>
            </ng-container>         
        </div>
</div>
 
