.center{
    max-width: 79%;
    margin: 0 auto;
    padding: 0 20px;
    margin-top: 120px;
    max-height:  none ;
    margin-bottom: 40px;
}
.title-sort-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 400px;
 }
 .sort-btns-container{
    display: flex;
    flex-direction: row;
    gap: 80px;
 }
 .title{
    font-family: 'Poppins';
    font-weight: 900;
}
.sort-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 40px;
    width: 190px;
    border-radius: 10px;
    background-color: rgba(131, 137, 142, 0.299);
}
.sort-type{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Poppins';
 }
.select{
    background-color: transparent;
    border: none;
    color: black;
    margin-bottom: 10px;
    font-size:20px ;
}
.select option{
    background-color: rgba(131, 137, 142, 0.299);
 }
 .select::before::after{
    border: none;
 }
 .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    box-sizing: border-box;
}
 
.product-box{
    display: flex;
    flex-direction: column;
}
.white-box{
    background-color: #fff;
    padding: 10px;
    height: 200px;
    text-align: center;
  position: relative;
    border-radius: 20px;
    border-color: black;
    margin-bottom: 10px;
}
.white-box input{
    height: 150px;
    width: 150px;
    margin-top: 20px;
}
.wishlist-button {
    position: absolute;
    top: 0px;
    right: 2px;
    left: 80%;
    background-color: transparent;
    width: 40px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
.product-title{
    font-family: 'Poppins';
    font-weight: 500;
}
.product-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-style{
  padding: 5px 15px;
  padding-left: 30px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #0D3D29;
  font-family: 'Poppins', sans-serif;
  font-weight:600;
  border: 1.5px solid ;
  border-color: #0D3D29;
  width: 150px;
}
.price{
    font-weight:900 ;
    font-family: 'Poppins';
}

.show-all{
    background-color: #b9b6b6;
    padding: 10px;
    padding-top: 80px;
    height: 200px;
    text-align: center;
     border-radius: 20px;
    border-color: black;
 }
 .btn_showall{
    background-color:  #b9b6b6;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-family:'Poppins' ;
 }