<div class="center" >
    <div class="title-sort-container">
        <div>
            <h2 class="title">Mobiles</h2>
        </div>
        <div class="sort-btns-container">
            <div class="sort-btn"> 
                <p class="sort-type">Rating :</p>
                <div >
                    <select class="select" #RatingSelect
                    (change)='onOptionsSelected(RatingSelect.value)'>
                      <option value="Top">Top </option>
                      <option value="Lowest">Lowest </option>
                    </select>
                </div>
            </div>
            <div class="sort-btn"> 
                <p class="sort-type">Price :</p>
                <div >
                    <select class="select">
                      <option value="Heighest">Heighest</option>
                      <option value="Lowest">Lowest</option>
                    </select>
                </div>
            </div>
             
        </div>
    </div>
        <div class="card-container">
            <ng-container *ngFor="let product of products ;  index as index;">
                <div class="product-box"  >
                    <ng-container >
                    <div class="white-box">
                        <button class="wishlist-button" style="    background: transparent;">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M352.92 80C288 80 256 144 256 144s-32-64-96.92-64c-52.76 0-94.54 44.14-95.08 96.81-1.1 109.33 86.73 187.08 183 252.42a16 16 0 0018 0c96.26-65.34 184.09-143.09 183-252.42-.54-52.67-42.32-96.81-95.08-96.81z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/></svg>                    
                        </button>
                        <a (click)="routeToProduct(product.id!)" ><input type="image" [src]="product.imageUrl"></a>
                    </div>
                    <h4 class="product-title">{{product.productTitle}}</h4>
                    <div class="product-price">
                        <h3 class="price">${{product.price}}  </h3>
                        <button class="btn-style" (click)="addtocart(product)">Add to cart</button>
                    </div>
                    </ng-container>
                </div>   
            </ng-container>          
</div>
