<div id="Bg">
    <div class="container">
            <div class="info">
                <h1 style="font-size: 3.5em; color: wheat;">Macbook 14 Pro</h1>
                <h1 style=" color:#aaa;margin-top: 20px;word-spacing: 1px;
                line-height: 25px;
                font-size:1.2rem;">
                Apple MacBook Pro is a macOS laptop with a 13.30-inch display that has a resolution of 2560x1600 pixels. It is powered by a Core i5 processor and it comes with 12GB of RAM. The Apple MacBook Pro packs 512GB of SSD storage.</h1>
                <div class="btns">
                    <button class="btn-style">Add To Card</button>
                    <button class="readmorestyle">Read More</button>
                </div>
            </div>
            <img src="https://dawid-next-ecommerce.s3.amazonaws.com/1679151719649.png" class="images">
     </div>
</div>