<div id="Bg">
    <div class="container">
            <div class="info">
                <h1 style="font-size: 3.5em; color: wheat;">Macbook 14 Pro</h1>
                <h1 style=" color:#aaa;margin-top: 20px;word-spacing: 1px;
                line-height: 25px;
                font-size:1.2rem;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere quae temporibus aut dolor architecto consequuntur modi ipsum laboriosam adipisci obcaecati recusandae vitae, atque suscipit, culpa iste earum tempore ipsa consequatur!</h1>
                <div class="btns">
                    <button class="btn-style">Add To Card</button>
                    <button class="readmorestyle">Read More</button>
                </div>
            </div>
            <img src="https://dawid-next-ecommerce.s3.amazonaws.com/1679151719649.png" class="images">
     </div>
</div>