<h2 style="margin-top: 50px;font-weight: 800;font-family: Verdana, Geneva, Tahoma, sans-serif;">Reviews</h2>
<div class="container">
    <div class="review-form">
      <form [formGroup]="reviewForm" (ngSubmit)="onFormSubmit(reviewForm)">
        <h3 style="font-size: 25px;font-weight: 900;margin-bottom: 23px;">Add a review</h3>
        <div class="star-rating">
            <span
            class="fa fa-star "
            style="font-size: 25px;width: 30px; "
              *ngFor="let star of stars"
              [ngClass]="{ 'checked': star <= currentRating }"
              (click)="onStarClicked(star)"
               
            ></span>
        </div>
          <div style="display: flex;flex-direction: column;">
            <input placeholder="Titre" class="inputs" formControlName="title">
            <textarea placeholder="Was it good ? Pros? Cons? " formControlName="comment"class="inputs" rows="3" cols="50"></textarea>
          </div>
          <button class="btn-cart">Submit Your Review</button>
        </form>
    </div>
    <div class="reviews">
        <h2 style="margin-bottom: 20px;">All reviews</h2>
        <div class="single-review" >
          <ng-container *ngIf="reviews">
            <app-review-item  *ngFor="let review of reviews" [review]="review"></app-review-item>
          </ng-container>
        </div>
    </div>
</div>
